<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta httpEquiv="X-UA-Compatiable" content="ie=edge"/>
        <meta name="description" content="This is a simple to do app"/>
        <title>ActixWeb</title>
    </head>
    <style>
        {{BASE_CSS}}
        {{CSS}}
    </style>
    <body>
        <div class="mainContainer">
            <h1>Students</h1>
            <div id="student"></div>
            <div class="inputContainer">
                <input type="text" id="sname" placeholder="Input the name">
                <input type="text" id="sage" placeholder="Input the age">
                <div class="actionButton" id="ssubmit" value="Send">Create</div>
            </div>

            <h1>Teachers</h1>
            <div id="teacher"></div>
            <div class="inputContainer">
                <input type="text" id="tname" placeholder="Input the name">
                <input type="text" id="tage" placeholder="Input the age">
                <div class="actionButton" id="tsubmit" value="Send">Create</div>
            </div>
        </div>
    </body>
    <script>
        {{JAVASCRIPT}}
    </script>
</html>