<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charSet="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta httpEquiv="X-UA-Compatiable" content="ie=edge"/>
        <meta name="description" content="This is a simple to do app"/>
        <title>ActixWeb</title>
    </head>
    <body>
        <h1>Students</h1>
        <div id="student"></div>
        <input type="text" id="sname" placeholder="Input the name">
        <input type="text" id="sage" placeholder="Input the age">
        <button id="ssubmit" value="Send">Create</button>

        <h1>Teachers</h1>
        <div id="teacher"></div>
        <input type="text" id="tname" placeholder="Input the name">
        <input type="text" id="tage" placeholder="Input the age">
        <button id="tsubmit" value="Send">Create</button>
    </body>
    <script>
        {{JAVASCRIPT}}
    </script>
</html>